.header {
    padding: 20px;
    border-bottom: 2px solid rgba(0,0,0,0.5);
}
.header .title{
    font-family: 'forum';
    font-size: 40px;
}
.header>img{
    border-radius: 50%;
    border: 1px solid black;
    width: 80px;
}

.footer {
    border-top: 2px solid rgba(0,0,0,0.5);
    padding: 20px;
    font-family: 'forum';
    font-size: 25px;
}

.body{
    background-color: #f1f2f6;
    min-height: 400px;
    font-family: 'cultive mono';
}

.hr {
    background-color: black;
    height: 1px;
    margin: 15px 0px;
    width: 97%;
    float: right;
}
.hr i{
    clear: both;
    position: relative;
    top: -12px;
    left: -3%;
    font-size: 30px;
}
.hr + p{
    margin-left: 15px;
    text-align: justify;
}

.illustration {
    width: 100%;
    margin: 10px;
}