body {
  margin: 0px;
  background-color: #00bcd4;
}
.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  height: 95vh;
  border: 1px solid #fff;
  margin: 10px;
  flex-wrap: wrap;
  font-size: 2vw;
}
section {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 50px;
  flex-grow: 1;
}
section h1 {
  margin: 0px;
  font-size: 2em;
}
.social-media {
  display: flex;
  width: 20vw;
  justify-content: space-evenly;
  position: relative;
  margin-top: 10px;
}
.social-media a {
  color: #fff;
  text-decoration: none;
}
.social-media::before {
  background-color: #efefef;
  top: 0;
  content: "";
  display: block;
  height: 0.1em;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -10px);
  width: 15vw;
}
.social-icon {
  font-size: 0.8em;
}
.img-panel {
  display: flex;
  flex-grow: 1;
  align-self: flex-start;
  margin-top: 10vh;
  padding: 10px;
}
.largeIcon {
  text-align: center;
  font-size: 25vw;
  color: #4dd0e1;
}
